<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hwan.chatting">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="고민한잔"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.hotsix.gomin_hanjan.ChattingActivity" />
        <activity android:name="com.example.hotsix.gomin_hanjan.ChattingRoom" />
        <activity android:name="com.example.hotsix.gomin_hanjan.ChattingRoomMake" />
        <activity android:name="com.example.hotsix.gomin_hanjan.Login" />
        <activity android:name="com.example.hotsix.gomin_hanjan.SignUp" />
        <activity android:name="com.example.hotsix.gomin_hanjan.WritePost" />
        <activity android:name="com.example.hotsix.gomin_hanjan.ReadPost" />
        <activity android:name="com.example.hotsix.gomin_hanjan.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>